<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "Profiles", profiles_url, :options => { :title => "Profiles" } %>
<% content_for :page_title, 'Edit Profile' %>
	<!-- PAGE TITLE -->
			<header id="page-title">

				<div class="container">
					<h1>Edit Profile</h1>

					<ul class="breadcrumb">
						  <%= render_breadcrumbs :tag => :li, :separator => "" %>
						
					</ul>
				</div>
			</header>
<div class="container">

<%= render 'form' %>
</div>