<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "About", page_path('about'), :options => { :title => "About" } %>
<% content_for :page_title, 'About Optimus Labs' %>
	<!-- PAGE TITLE -->
			<header id="page-title">

				<div class="container">
					<h1>About</h1>

					<ul class="breadcrumb">
						  <%= render_breadcrumbs :tag => :li, :separator => "" %>
						
					</ul>
				</div>
			</header>
<div class="container">
<p>With the moniker, “THE” Community Theatre in East Texas, The Henderson County Performing Arts Center, a 501 C-3 organization, was founded in 1964 as a Community Theatre under the name, Athens Little Theatre.  The theatre presented up to 4 productions a year until 1989.  In 1989, a full-time Executive Director was hired to carry out the mission statement of the theatre.</p>

<p>With the Executive Director in place, the theatre began producing 7 shows per season, including two musicals each year.     
Also, in 1989, the theatre developed a Youth Program to bring new volunteers and members into our programs.  Since that time the program has been expanded to include fall, spring and summer programs for children and two mainstage shows presented by the group.  The YES! Company(Youth Excellence on Stage) continues to send its traveling troupe to state theatre activities and is identified as one of the top programs in the state.  The Youth Program was the driving force in developing summer camps and day care programs.</p>
         
<p>In 1996, a touring company was organized to meet the needs of community groups and local community theatres that were looking for entertainment.  The Touring Company travels around the state and region presenting new shows every year.</p>
    
<p>The theatre is very active in the community through its participation in the Chamber of Commerce and the various tourism programs.</p>     
    
<p>The mission statement of the theatre simply stated is:  We Entertain. We Educate. We Change Lives.  In that endeavor, the theatre opened its Education Building and Black Box Theatre on the property to provide more outreach programs for the community and to continue the efforts to present quality entertainment by utilizing a new, additional playing space.  We are a full service Community Theatre that provides more than just entertainment for the area.  We are committed to bringing the theatre arts to all ages.   We have a strong working relationship with the college and the Independent School Districts in the region.</p>
    
<p>In 2007, the Board of Directors secured funds for a new 10,000 square foot theatre space.  The new space has seating capacity for 130 with a multi-purpose stage which allows the theatre to present 10 shows per season with 6 on the main stage and 4 in the Black Box space.</p>
    
<p>Since the construction of the new facility, the theatre has expanded its outreach in programs by extending the productions to those works of new playwrights.  The theatre is committed to do at least one new work each year and that number is expanded to two new works every other year.</p>
    
<p>Each year the theatre plays host to a group of travelers as it sets up a New York Trip to see the sights, shop, eat and enjoy Broadway theatre.  The group trips started in 2004 and continues today.  Trips are in October or March depending on the group traveling.  Theatre trips are also available for local regional theatres in Dallas and Houston.</p>
   
<p>The Henderson County Performing Arts Center has committed to a capital campaign to invest in the future of the theatre.  The Legacy program will enlist the support of the communities, civic organizations, schools, families, patrons and ARTS supporters who understand the part arts organization play in a community’s overall quality of living.</p>
    
<p>The theatre is committed to building a community that lasts.  People from diverse cultural, economic and social backgrounds come together to create engaging theatre productions, learn life skills and celebrate what is best within themselves.  HCPAC plays a vital role in creating future arts supporters and audiences by making theatre available and accessible to the entire community.  We welcome all who wish to participate and offer opportunities that do not exist elsewhere.  We attract a wide and diverse range of participants and audiences through our youth programs, education activities, community awareness programs and professional entertainment that touches all who participate.</p>
    
<p>Over the 46 years of operation, thousands of people have participated in our programs.  Involvement, particularly at a young age, in an activity that challenges, teaches and enlivens has a lasting impact on the people we become.  Whether our actors go on to pursue careers in the arts or other fields, involvement in the theatre brings out the best they can offer to the world.
For our young actors the impact is transformational.  They have found a safe haven in HCPAC to explore themselves in their own creative medium.  Young people and Seniors alike who are struggling with their lives can discover their innate strengths and talents through participation in a creative, collaborative way.</p>
</div>