<!-- PAGE TITLE -->
			<header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
				<!--
					Enable only if bright background image used
					<span class="overlay"></span>
				-->

				<div class="container">
					<h1>FAQ</h1>

					<ul class="breadcrumb">
						
					</ul>
				</div>
			</header>

			<section class="container">

				<h2><strong>F</strong>requently <strong>A</strong>sked <strong>Q</strong>uestions</h2>

				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet.</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="toogle toogle-accordion">

					<div class="toggle active">
						<label>What Are Your Hours of Operation</label>
						<div class="toggle-content">
							<p>Monday—Friday, 10:00 AM—5:00 PM</p>
							<div class="divider styleColor white"><!-- divider -->
								<i class="fa fa-leaf"></i>
							</div>

							<!-- columns -->
					

							<p class="text-center">
								Reservations:<br>
									Phone: (903) 675-3908<br>
									FAX: (903) 675-3968<br>
									<br>
									<br>
									​Theatre and box office located at
									400 Gibson Road, Athens, Texas
							</p>
						</div>
					</div>

					<div class="toggle">
						<label>What is your reservation policy?</label>
						<div class="toggle-content">
						   <p>Reservations are required for all productions. Please call the theatre's reservation line to get your seat. Remember, purchasing a season membership does not assure you a seat for every show. You must contact the theatre to make a reservation. Seats are offered to members three weeks prior to opening night and non-members two weeks prior.</p>
						</div>
					</div>

					<div class="toggle">
						<label>What is your ticket policy? </label>
						<div class="toggle-content">
							<p>
							ALL SALES ARE FINAL - HCPAC offers Flex Pass ticketing, providing members an allotted amount of tickets to be used at any show throughout the season. Members are encouraged to use one ticket per show, all tickets on one show, share unused admissions with a guest or skip a show and use a ticket at the next production. We strive to make your theatre experience as easy as possible.​
							</p>
						</div>
					</div>

					<div class="toggle">
						<label>How much do tickets cost? </label>
						<div class="toggle-content">
							<p>
							Non-Member ticket prices are $17 for adults, $12 for students. non-member tickets must be purchased prior to the performance. Payments may be made by cash, check, or credit card. We are currently accepting MasterCard and VISA. There is a $2.00 handling charge on all telephone orders.
							</p>
						</div>
					</div>
					<div class="toggle">
						<label>Do you offer special rates for groups? ​ </label>
						<div class="toggle-content">
							<p>
							Special rates for large groups are available.
							</p>
						</div>
						<div class="toggle">
						<label>Do you offer assistance for patrons with special needs?</label>
						<div class="toggle-content">
							<p>
							Wheelchairs can be easily accommodated in the theatre with advanced notice. Parking is provided in the area adjacent to the building. Please leave plenty of time to park and make it to your seat before the start of the show.
							</p>
						</div>
					</div>
					</div>
				</div>


			</section>