<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "Staff", page_path('staff'), :options => { :title => "Staff" } %>
<% content_for :page_title, 'HCPAC Staff' %>
	<!-- PAGE TITLE -->
			<header id="page-title">

				<div class="container">
					<h1>Staff</h1>

					<ul class="breadcrumb">
						  <%= render_breadcrumbs :tag => :li, :separator => "" %>
						
					</ul>
				</div>
			</header>
<section class="container">

				<h2>Meet the <strong>team</strong></h2>

				<p class="lead"></p>

				<ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
					<li data-option-value="*" class="active"><a href="#">Show All</a></li>
					<li data-option-value=".director"><a href="#">Director</a></li>
					<li data-option-value=".admin"><a href="#">Administrative</a></li>
					<li data-option-value=".creative"><a href="#">Creative</a></li>
				</ul>


				<div class="row">

					<ul class="sort-destination isotope" data-sort-id="isotope-list">

						<li class="isotope-item col-md-3 director"><!-- item 1 -->
							<div class="item-box fixed-box">
								<figure>
									<%= image_tag "marcia.jpg", :class=> "img-responsive" %>
								</figure>
								<div class="item-box-desc">
									<h4>Marcia Colbert</h4>
									<small class="styleColor">Executive Director</small>
									<p>Marcia started out life as a dancer. From a very early age, she trained in ballet, tap, jazz and acrobatic. Her interest in musicals began when she went to New York to train with ballet legend George Balanchine and managed to see several Broadway shows while she was there. She was hooked. The next natural progression was for her to perform in high school musicals and straight plays.
Fast forward a few years. After studying dance at TCU, Marcia went on to choreograph and perform in stage productions and fashion shows in Dallas. That is where she started her theatrical production company and continued producing shows with an emphasis on the technical side of theatre: staging; designing and constructing sets; designing and running lights; and directing. </p>
									<div class="text-center">
										<a href="#" class="social fa fa-facebook"></a>
										<a href="#" class="social fa fa-twitter"></a>
										<a href="#" class="social fa fa-google-plus"></a>
									</div>
								</div>
							</div>
						</li>

						<li class="isotope-item col-md-3 creative"><!-- item 2 -->
							<div class="item-box fixed-box">
								<figure>
									<%= image_tag "gary.jpg", :class=> "img-responsive" %>
								</figure>
								<div class="item-box-desc">
									<h4>Gary McDonald</h4>
									<small class="styleColor">Technical Director</small>
									<p>Gary is a veteran actor and has served in every technical capacity as a volunteer. </p>
									<div class="text-center">
										<a href="#" class="social fa fa-facebook"></a>
										<a href="#" class="social fa fa-twitter"></a>
										<a href="#" class="social fa fa-google-plus"></a>
									</div>
								</div>
							</div>
						</li>

						<li class="isotope-item col-md-3 admin"><!-- item 2 -->
							<div class="item-box fixed-box">
								<figure>
									<%= image_tag "jane.jpg", :class=> "img-responsive" %>
								</figure>
								<div class="item-box-desc">
									<h4>Jane Cates</h4>
									<small class="styleColor">Office Manager</small>
									<p>Jane Cates - Bio Needed</p>
									<div class="text-center">
										<a href="#" class="social fa fa-facebook"></a>
										<a href="#" class="social fa fa-twitter"></a>
										<a href="#" class="social fa fa-google-plus"></a>
									</div>
								</div>
							</div>
						</li>

					</ul>

				</div><!-- /.masonry-container -->

		


			</section>